{% extends 'base.html.twig' %}

{% block body %}
    <h3>Update</h3>
    <p>
    {{ form_start(update_form) }}
    {{ form_widget(update_form) }}
    {{ form_end(update_form) }}
    </p>
{% endblock %}
